<h1>{{ title }}</h1>
<!-- 
    不应该让用户只能把路由的 URL 粘贴到地址栏中。他们还应该能通过点击链接进行导航。
    添加一个 <nav> 元素，并在其中放一个链接 <a> 元素，当点击它时，就会触发一个到 HeroesComponent 的导航
    routerLink 属性的值为 "/heroes"，路由器会用它来匹配出指向 HeroesComponent 的路由。 routerLink 是 RouterLink 指令的选择器，它会把用户的点击转换为路由器的导航操作。 它是
RouterModule 中的另一个公共指令。
-->
<nav>
    <a routerLink='/dashboard'>Dashboard</a>
    <a routerLink='/heroes'>Heroes</a>
</nav>

<!-- 
    之所以移除 <app-heroes>，是因为只有当用户导航到这里时，才需要显示 HeroesComponent。
    <router-outlet> 会告诉路由器要在哪里显示路由的视图。
    能在 AppComponent 中使用 RouterOutlet，是因为 AppModule 导入了 AppRoutingModule，而 AppRoutingModule 中导出了 RouterModule。 
-->
<!-- <app-heroes></app-heroes> -->
<router-outlet></router-outlet>
<app-messages></app-messages>

